@media (max-width: 1599px) {
    .header__logo {
        width: 150px;
    }
    .main-menu > ul > li > a {
        font-size: 16px;
    }
    .main-menu > ul > li {
        margin-right: 40px;
    }
    .hr-cu .icon {
        margin: 0 7px 0 0;
        width: 23px;
    }
    .hr-cu p {
        line-height: 1.35;
        font-size: 13px;
    }
    .default-button .if {
        margin: 0 11px 0 0;
        width: 20px;
    }
    .default-button {
        font-size: 18px;
        padding: 10px 22px;
        min-height: 60px;
        border-radius: 20px 20px 20px 0;
    }
    .header__in {
        padding: 18px 0;
    }
    :root {
        --st-radius: 70px;
    }
    .hero-content .h1 {
        font-size: 45px;
        margin: 0 0 30px;
    }
    .default-button .ar-right {
        font-size: 16px;
        margin: 0 0 0 10px;
    }
    .f-trustpilot {
        bottom: 26px;
        width: 110px;
    }
    .hero-section__inner {
        padding: 50px 0;
        min-height: 500px;
    }
    .hr-cu {
        margin: 0 40px 0 0;
    }

    .h2 {
        font-size: 25px;
        margin: 0px 0 10px;
    }
    body {
        font-size: 16px;
    }
    .sec-title {
        margin: 0 0 45px;
    }
    .hw-section {
        padding: 55px 0;
    }


    .hw-card__outer {
        --bs-gutter-x: 25px;
    }
    .hw-card {
        padding: 40px 35px 33px 35px;
        border-radius: 15px;
    }
    .hw-card .icon {
        height: 167px;
        margin: 0 auto 23px;
    }
    .hw-card h3 {
        font-size: 20px;
        margin: 0 0 11px;
    }
    .hw-card p {
        font-size: 15px;
    }


    .sc-section {
        padding: 60px 0;
    }
    .sc-card__top-tne {
        margin: -8px auto -8px;
        font-size: 54px;
        height: 80px;
        width: 80px;
    }
    .sc-cards__wrapper {
        --bs-gutter-x: 25px;
    }
    .sc-card {
        border-radius: 15px 15px 15px 0;
        padding: 0 40px 12px;
    }


    .faq-top-shape {
        width: 180px;
    }
    .faq-section {
        padding: 90px 0 60px;
    }
    .faq-section__title .h2 .h-shape {
        right: -53px;
        top: 0px;
        width: 40px;
    }
    .single-faq__title {
        padding: 25px 0;
        font-size: 20px;
    }

    .single-faq__title .ind {
        height: 30px;
        width: 30px;
        top: 27px;
        left: -15px;
    }
    .single-faq {
        padding: 0 29px;
        margin: 0 0 14px;
        border-radius: 15px;
    }


    .footer__logo {
        width: 160px;
        margin: 0 0 40px;
    }
    .f-menu li a {
        font-size: 16px;
    }
    .f-menu li {
        margin-right: 30px;
    }
    .f-menu {
        margin: 0 0 22px;
    }
    .f-social-menu li a {
        font-size: 24px;
    }
    .f-social-menu li {
        margin-right: 30px;
    }
    .footer-section {
        padding: 60px 0 80px;
    }



    .prod-box__title h3 {
        font-size: 18px;
    }
    .prod-box {
        border-radius: 12px;
    }
    .prod-box__title {
        padding: 14px;
        border-radius: 12px;
    }
    .prod-box__main__icon {
        margin: 0 auto 20px;
        width: 180px;
    }
    .prod-box__main {
        padding: 25px 15px 20px;
    }
    .prod-box__main h2 {
        font-size: 19px;
    }
    .prod-box__main .line {
        margin: 13px 0 20px;
    }
    .result__sidebar {
        margin: 0 25px 0 0;
    }
    .result__main__title__trow {
        margin: 0 0 40px;
    }
    .disclaimer-box {
        padding: 22px 25px;
        border-radius: 12px 12px 12px 0;
    }
    .surveyor-card__Wrapper {
        margin: 25px 0 0;
    }
    .surveyor-card {
        margin: 0 0 25px;
        padding: 30px;
    }
    .surveyor-card__author__image {
        --s-border: 2px;
        height: 85px;
        width: 85px;
        margin: 0 20px 0 0;
    }
    .surveyor-card__author__cont h3 {
        font-size: 19px;
        margin: 0 0 9px;
    }
    .a-loc i {
        margin: 0 3px 0 0;
    }
    .surveyor-card__author {
        margin: 0 0 20px;
    }
    .surveyor-card__content-main h4 {
        font-size: 16px;
        margin: 0 0 10px;
    }
    .surveyor-card__content-main p {
        font-size: 13px;
    }
    .surveyor-card__cost-box h5 {
        font-size: 10px;
        letter-spacing: 1.2px;
        margin: 0 0 4px;
    }
    .surveyor-card__cost-box h3 {
        font-size: 20px;
    }
    .surveyor-card__cost-box__top {
        margin: 0 0 37px;
    }
    .surveyor-card__cost-box {
        margin: 0 0 15px;
        padding: 32px 10px;
        border-radius: 12px 12px 12px 0;
    }
    .pagination ul li a {
        height: 27px;
        width: 55px;
        border-radius: 30px;
    }
    .pagination ul li {
        margin-right: 5px;
    }
    .pagination {
        margin: 60px 0 0;
    }
    .result-section {
        padding: 60px 0;
    }
    .result__sidebar {
        padding: 71px 0 0;
    }

    .enquire-modal__title h3 {
        font-size: 20px;
    }
    .input-x {
        font-size: 16px;
        padding: 10px 18px;
        min-height: 59px;
        border-radius: 12px 12px 12px 0;
    }

    .survey-sm-card__image {
        width: 150px;
        height: 94px;
        margin: 0 auto 15px;
    }
    .survey-sm-card__content h3 {
        font-size: 19px;
        margin: 0 0 9px;
    }
    .survey-sm-card {
        padding: 15px;
    }
    .enquire-modal__title {
        margin: 0 0 35px;
    }
    .enquire-modal {
        padding: 30px;
        border-radius: 12px;
    }
    .enquire-modal-wrapper .modal-dialog {
        max-width: 510px;
    }


    .h2 .sm {
        font-size: 14px;
    }


    .hero-s__image {
        width: 640px;
    }
    .hero-s__row1__inner {
        min-height: 446px;
    }
    .ul-ellipse li::before {
        height: 22px;
        width: 22px;
        top: 0px;
    } 
    .ul-ellipse li {
        margin: 0 0 17px;
        padding: 0 0 0 40px;
        font-size: 14px;
    }

    .coffee-section {
        padding: 55px 0;
    }
    .coffee-card__img-value h3 {
        margin: 0 0 5px;
        font-size: 50px;
    }
    .coffee-card__img-value .bt-img {
        width: 45px;
    }
    .coffee-card__img-value .t-img {
        height: 32px;
    }
    .coffee-card__img-value h3 .sm {
        font-size: 25px;
    }
    .coffee-card__img-value--abs .fl-img {
        width: 180px;
    }
    .coffee-card__img-value {
        height: 157px;
        margin: 0 auto 15px;
    }
    .coffee-card__content h3 {
        font-size: 20px;
        margin: 0 0 11px;
    }
    .bhs-section {
        padding: 60px 0 65px;
    }
    .bhs-form__submit-outer {
        padding: 15px 0 0;
    }
    .bhs-form {
        max-width: 420px;
    }

    .banana-card__content h3 {
        font-size: 20px;
        margin: 0 0 14px;
    }
    .banana-card__content .bottom-button {
        min-width: 230px;
        margin: 15px 0 0;
    }
    .banana-card__content {
        padding: 40px 25px;
    }


    .team-section {
        padding: 80px 0 80px;
    }
    .team-slide {
        width: 270px;
        border-radius: 10px 10px 10px 0;
    }
    .team-slide__content__title h3 {
        font-size: 18px;
    }
    .team-slide__content__title h5 {
        font-size: 13px;
    }
    .team-slide__content__texts p {
        font-size: 13px;
    }
    .team-slide__content__title {
        margin: 0 0 10px;
    }
    .team-slide__content {
        padding: 20px 20px 23px;
    }
    .team-slider .owl-next {
        width: 35px;
        right: 60px;
    }
    .team-section__row2 {
        max-width: 600px;
        margin: 80px auto 0;
    }


    .contact_l-ia {
        font-size: 14px;
    }
    .contact_l-ia .icon {
        margin: 0 8px 0 0;
        width: 26px;
    }
    .contact__form .submit-button {
        width: 250px;
    }
    .contact-section {
        padding: 60px 0;
    }

    .title-hero__content .h1 {
        font-size: 40px;
    }
    .title-hero__inner {
        min-height: 280px;
    }
}


@media (max-width: 1399px) {
 
}


@media (max-width: 1199px) {
    .result__row-main {
        flex-wrap: wrap;
    }

    .result__sidebar {
        padding: 0px 0 30px;
        width: 100%;
    }


    .hero-s__image {
        width: 520px;
    }
}


@media (max-width: 991px) {
    .hero-s__image {
        display: none;
    }
    .hero-s__left {
        width: 100%;
    }
    .hero-s__row1__inner {
        min-height: initial;
        padding: 45px 0 0;
    }

    .team-section__row1 {
        flex-wrap: wrap;
    }
    .team-section__title {
        width: 100%;
        padding-right: 0%;
        margin-bottom: 30px;
    }
    .team__slider-side {
        --scrollbar-width: 0px;
        width: calc(100vw - var(--scrollbar-width));
        flex-shrink: 0;
        margin-left: calc(((100vw - var(--scrollbar-width)) - 100%) * -0.5);
    }
    .team-slider .owl-prev {
        width: 35px;
        left: 60px;
        display: block;
        position: absolute;
        top: 50%;
        transform: translate(0,-50%);
    }
    .team-section {
        padding: 50px 0 50px;
    }
    .team-section__row2 {
        margin: 50px auto 0;
    }
    .team-slider .owl-prev {
        left: 12px;
    }
    .team-slider .owl-next {
        right: 12px;
    }
}


@media (max-width: 768px) {
    .header__logo {
        width: 120px;
    }
    .header__in {
        padding: 13px 0;
    }

    .sec-title {
        margin: 0 0 40px;
    }

    :root {
        --st-radius: 40px;
    }
    .default-button {
        font-size: 16px;
        padding: 10px 20px;
        min-height: 55px;
        border-radius: 17px 17px 17px 0;
    }
    .hero-content .h1 {
        font-size: 35px;
        margin: 0 0 25px;
    }


    .single-faq__title .ind {
        left: -12px;
    }
    .sc-card__texts h3 {
        font-size: 22px;
        margin: 0 0 9px;
    }
    .h2 {
        font-size: 22px;
        margin: 0px 0 10px;
    }

    .f-menu li {
        margin-right: 20px;
    }


    .result-section {
        padding: 40px 0;
    }
    .result__main {
        width: 100%;
    }
    .result__main__title__trow {
        margin: 0 0 25px;
    }
    .surveyor-card__mrow {
        flex-wrap: wrap;
    }
    .surveyor-card__mrow__side {
        width: 100%;
        margin: 20px 0 0 0%;
    }
    .surveyor-card {
        margin: 0 0 20px;
        padding: 20px;
    }


    .contact-section__row1 {
        flex-wrap: wrap;
    }
    .contact__left {
        width: 100%;
        flex-shrink: 0;
        order: 2;
        margin: 30px 0 0;
    }

    .title-hero__content .h1 {
        font-size: 35px;
    }
    .title-hero__inner {
        min-height: 240px;
    }
}


@media (max-width: 575px) {
 
}


@media (max-width: 370px) {
    .f-menu li a {
        font-size: 15px;
    }
    .f-menu li {
        margin-right: 17px;
    }
    .footer-section .fp {
        font-size: 12.5px;
    }
}
